.position {
    height: 5em;
    text-align: center;
    vertical-align: middle;
    background-color: #388E3C;
    color: #C8E6C9;
    margin: 0px !important;
    padding: 0px !important;
}

.player {
    color: white;
    font-weight: bold;
    max-width: 100%;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* navigateurs actuels */
}

.touche {
    height: 5em;
    text-align: center;
    vertical-align: middle;
    background-color: #cccccc;
    font-weight: bold;
    border-right: 2px solid #cccccc;
}